:root {
  --primary-font: 'Raleway', sans-serif;
  --primary-white-color: #ffffff;
  --text-color: #2e2f42;
  --primary-font-color: #434455;
  --footer-text-color: #f4f4fd;
  --paragraph-text-color: #434455;
  --portfolio-buttons-color-text: #4d5ae5;
  --standart-border: #e7e9fc;
  --icons-color: #8e8f99;
  --icon-background: #404bbf;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}

.list {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  max-width: 426px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
/* HEADER STYLES */
.head {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.top-block {
  display: flex;
  justify-content: space-between;
  height: 70px;
}
@media screen and (min-width: 768px) {
  .top-block {
    height: 72px;
  }
}
@media screen and (min-width: 1158px) {
  .top-block {
    height: 72px;
  }
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
@media (min-width: 767px) {
  .logo {
    margin-right: 120px;
  }
}
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}
.logo-second-color {
  color: var(--text-color);
}
.menu {
  display: none;
}
@media (min-width: 767px) {
  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}
.nav-links {
}
@media (min-width: 767px) {
  .nav-links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-current {
    color: #404bbf;
  }
  .nav-current:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    height: 4px;

    opacity: 1;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
  }
}

.header-address {
  display: none;
}
@media (min-width: 767px) {
  .header-address {
    font-style: normal;
    display: flex;
  }
  .address-block {
    display: flex;
    padding: 24px 0;
    gap: 12px;
    justify-content: center;
    flex-direction: column;
  }
  .contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-font-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .address-block {
    flex-direction: row;
    gap: 40px;
  }
}

/* FIRST SECTION ADAPTATION */
